---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

// Define a type for the system data
// image is now any (imported image module)
type SystemData = {
  name: string;
  image?: any;
};

const imageImports = import.meta.glob('../../assets/images/systems/*.{png,jpg,jpeg,svg}', { eager: true, import: 'default' });

console.log(imageImports);
const systems = await getCollection('systems');
const tiers = await getCollection('tiers');

// Get unique systems that have tiers
const systemsWithTiers = [...new Set(tiers.map(t => t.data.system))];

// Map system slugs to their proper names and images
const systemsMap = systems.reduce<Record<string, SystemData>>((map, system) => {
  const imagePath = system.data.image;
  console.log(imagePath);
  map[system.slug] = {
    name: system.data.name,
    image: imagePath ? imageImports[`../../assets/images/systems/${imagePath}`] : undefined
  };

  console.log(map);
  return map;
}, {});

export async function getStaticPaths() {
  const uniqueSystems = systemsWithTiers;

  return uniqueSystems.map(system => ({
    params: { system },
  }));
}

// Define the breadcrumb items
const breadcrumbItems = [
  { label: 'Home', href: '/' },
  { label: 'Lessons', href: '/lessons' },
];
---

<Layout title="Lessons" breadcrumbItems={breadcrumbItems}>
  <h2>Choose your System</h2>

  <ul class="lessons-systems">
    {systemsWithTiers.map(systemSlug => (
      <li id={`system-${systemSlug}`}>
        <a href={`/lessons/${systemSlug}`}>
          {systemsMap[systemSlug]?.image && (
            <Image src={systemsMap[systemSlug].image} alt={systemsMap[systemSlug]?.name ?? 'System image'} />
          )}
          {systemsMap[systemSlug]?.name || 'Unknown System'}
        </a>
      </li>
    ))}
  </ul>
</Layout>