---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from 'astro:content';

// Define a type for the system data
type SystemData = {
  name: string;
  image?: string;
};

const systems = await getCollection('systems');
const tiers = await getCollection('tiers');

// Get unique systems that have tiers
const systemsWithTiers = [...new Set(tiers.map(t => t.data.system))];

// Map system slugs to their proper names and images
const systemsMap: Record<string, SystemData> = systems.reduce((map, system) => {
  map[system.slug] = { name: system.data.name, image: system.data.image };
  return map;
}, {});

export async function getStaticPaths() {
  const uniqueSystems = systemsWithTiers;

  return uniqueSystems.map(system => ({
    params: { system },
  }));
}

// Define the breadcrumb items
const breadcrumbItems = [
  { label: 'Home', href: '/' },
  { label: 'Lessons', href: '/lessons' },
];
---

<Layout title="Lessons" breadcrumbItems={breadcrumbItems}>
  <h2>Choose your System</h2>

  <ul>
    {systemsWithTiers.map(systemSlug => (
      <li id={`system-${systemSlug}`}>
        <a href={`/lessons/${systemSlug}`}>
          {systemsMap[systemSlug]?.image && <img src={systemsMap[systemSlug].image} alt={systemsMap[systemSlug].name} width="100" />}
          {systemsMap[systemSlug]?.name || 'Unknown System'}
        </a>
      </li>
    ))}
  </ul>
</Layout>