---
import '../styles/global.css';
import Sidebar from '../components/Sidebar.astro';
import Breadcrumb from '../components/Breadcrumb.astro';

const pageTitle = Astro.props.title ?? '';
const breadcrumbItems = Astro.props.breadcrumbItems ?? [];
const htmlTitle = pageTitle ? `${pageTitle} - Code Like It's 198x` : 'Code Like It\'s 198x';
---

<!DOCTYPE html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{htmlTitle}</title>
		<link rel="stylesheet" href="/src/styles/global.css" />
	</head>
	<body>
		<Sidebar />

		<main>
			<article>
				{Astro.props.noDefaultHeader !== true && (
					<header>
						<Breadcrumb items={breadcrumbItems} />
						<h1>{pageTitle}</h1>
					</header>
				)}
				<slot />
			</article>
		</main>

		<script>
			import "../scripts/menu.js"
		</script>
	</body>
</html>
