---
import BaseLayout from "./BaseLayout.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
const { title, system, systemName, tierNumber, summary } = Astro.props;
const breadcrumbItems = [
  { label: "Systems", href: "/systems" },
  { label: systemName, href: `/lessons/${system}` },
  { label: `Tier ${tierNumber}`, href: `/lessons/${system}/tier-${tierNumber}` }
];
---

<BaseLayout title={title} noDefaultHeader={true}>
  <header>
    <Breadcrumb items={breadcrumbItems} />
    <h1>{title}</h1>
  </header>
  <article>
    <p>
      <strong>System:</strong>
      {systemName} &nbsp; <strong>Tier:</strong>
      {tierNumber}
    </p>
    {
      summary && (
        <p>
          <em>{summary}</em>
        </p>
      )
    }
    <slot />
  </article>
</BaseLayout>
